In [23]:
import pandas as pd
import numpy as np
titanic = pd.read_csv('C:/Users/Anirban/Documents/python_programs/Python Data Science/titanic.csv')

In [26]:
tf = titanic.drop(['name', 'cabin','home.dest','boat','body','ticket','survived'], axis=1)
tl = titanic['survived']

In [27]:
tf['embarked'].isna().sum()

3

In [28]:
from collections import Counter 
Counter(list(tf['embarked'])) 
tf['pclass']=tf['pclass'].fillna(3.0)
tf['sex']=tf['sex'].fillna('male')
tf['age']=tf['age'].fillna(tf['age'].mean())
tf['sibsp']=tf['sibsp'].fillna(0.0)
tf['parch']=tf['parch'].fillna(0.0)
tf['fare']=tf['fare'].fillna(tf['fare'].mean())
tf['embarked']=tf['embarked'].fillna(3.0)

In [29]:
tf.columns[tf.isna().any()].tolist()

[]

In [30]:
print(tf.head(2))
#print(np.unique(tf['embarked']))
#print(np.unique(tf['sex']))

   pclass     sex      age  sibsp  parch      fare embarked
0     1.0  female  29.0000    0.0    0.0  211.3375        S
1     1.0    male   0.9167    1.0    2.0  151.5500        S

In [31]:
mapping_sex = {'female': 1, 'male': 2}
tf = tf.replace({'sex': mapping_sex})
mapping_embarked = {'C':1.,'Q':2.,'S':3.}
tf = tf.replace({'embarked':mapping_embarked})

In [32]:
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression(random_state=0, solver='lbfgs',
                         multi_class='multinomial').fit(np.array(tf[:1000]),list(tl[:1000]))
yr = tl[1000:]
yp = clf.predict(np.array(tf[1000:]))
yr = yr.fillna(0.0)
from sklearn.metrics import accuracy_score
accuracy_score(yr,yp)

0.7677419354838709